RewriteEngine                   on

RewriteRule Accueil             /controllers/homeCtrl.php

RewriteRule AddPatient          /controllers/addPatientCtrl.php
RewriteRule EditPatient         /controllers/editPatientCtrl.php
RewriteRule DeletePatient       /controllers/deletePatientCtrl.php
RewriteRule PatientsList        /controllers/patientsListCtrl.php

RewriteRule AddAppointment      /controllers/addAppointmentCtrl.php
RewriteRule EditAppointment     /controllers/editAppointmentCtrl.php
RewriteRule DeleteAppointment   /controllers/deleteAppointmentCtrl.php
RewriteRule AppointmentsList    /controllers/appointmentsListCtrl.php


ErrorDocument 404               /404page.php